<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>Homepage</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="img/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/remodal.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/remodal-default-theme.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'js/jquery.1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-scrolltofixed.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/remodal.min.js' %}"></script>

    <style>
        #productebutton {
            font-size: 18px;
            border:2px solid black;
            border-radius: 4px;
            padding: 10px;
        }

        #productebutton:hover {
            cursor: pointer;
            border:2px solid transparent;
            background-color: darkblue;
        }

        #productebutton:hover #preu {
            display: none;
        }

        #productebutton:hover #carro {
            display: inline-block !important;
        }

    </style>
</head>
<body>
    <!--HEADER-->
        <header class="header" id="header"><!--header-start-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <figure class="logo animated fadeInDown delay-07s">
                            <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        </figure>
                        <h1 class="animated fadeInDown delay-07s">GNOMUT: Prova el nostre producte estrella</h1>
                        <ul class="we-create animated fadeInUp delay-1s">
                            <li>Un donut salat com mai l'has tastat!</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img src="{% static 'img/donut.png' %}" class="img-responsive" alt="Image" style="width:20%; margin-left:40%; margin-right:40%">
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-sm-4 col-sm-offset-2">-->
                        <!--<a class="link2 animated fadeInUp delay-1s servicelink" href="#ofertes">Veure ofertes</a>-->
                    <!--</div>-->
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="link animated fadeInUp delay-1s servicelink" href="#productes">Veure més productes</a>
                    </div>
                </div>
            </div>
        </header>

    <!--MENÚ-->
        <nav class="main-nav-outer" id="test"><!--main-nav-start-->
            <div class="container">
                <ul class="main-nav">
                    <!--<li><a href="#ofertes">Ofertes</a></li>-->
                    <li><a href="#header">Inici</a></li>
                    <li><a href="#productes">Productes</a></li>
                    <li><a href="#appweb">Gnomuts</a></li>
                    <li class="small-logo"><a href="#header"><img src="{% static 'img/logo.png' %}" alt="" height="80px"></a></li>
                    <li><a href="#equip">Equip</a></li>
                    <li><a href="#contacte">Contacte</a></li>
                    <li><a href="{% url 'portal:comanda' %}">Fer comanda</a></li>
                </ul>
                <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
            </div>
        </nav>
    
    <!--OFERTES-->
        <!--<section class="main-section alabaster" id="ofertes">-->
            <!--<div class="container">-->
                <!--<h2>Ofertes</h2>-->
                <!--<h6>Descobreix els millors plans per a disfrutar de promocions, ofertes, 2x1 i molt més.</h6>-->
                <!--<div class="row">-->
                    <!--<figure class="col-lg-5 col-sm-4 wow fadeInLeft">-->
                        <!--<img  src="{% static 'img/iphone.png' %}" alt="">-->
                    <!--</figure>-->
                    <!--<div class="col-lg-7 col-sm-8 featured-work">-->
                    <!--{% for oferta in ofertes %}-->
                        <!--<div class="featured-box">-->
                            <!--<div class="featured-box-col1 wow fadeInRight delay-02s">-->
                                <!--<i class="{{ oferta.icona }}"></i>-->
                            <!--</div>-->
                            <!--<div class="featured-box-col2 wow fadeInRight delay-02s">-->
                                <!--<h3>{{ oferta.nom }}</h3>-->
                                <!--<p>{{ oferta.descripcio }}</p>-->
                            <!--</div>    -->
                        <!--</div>-->
                    <!--{% endfor %}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->

    <!--PRODUCTES-->
        <section class="main-section paddind" id="productes">
            <div class="container">
                <h2>Productes</h2>
                <h6>Aquí trobaràs tots els nostres productes.</h6>
            <!--Filtre-->
                <div class="portfolioFilter">  
                    <ul class="Portfolio-nav wow fadeIn delay-02s">
                        <li><a href="#" data-filter="*" class="current" >Tots</a></li>
                        <li><a href="#" data-filter=".sandwiches" >Sandvitxos</a></li>
                        <li><a href="#" data-filter=".entrants" >Entrants</a></li>
                        <li><a href="#" data-filter=".begudes" >Begudes</a></li>
                        <li><a href="#" data-filter=".gnomuts" >Gnomuts</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolioContainer wow fadeInUp delay-04s">
                {% for sandvitx in sandvitxos %}
                    <div class="Portfolio-box sandwiches">
                        <a href="#{{ sandvitx.nom }}"><img src="{{ sandvitx.imatge.url }}" height="200px" alt=""></a>
                        <div class="col-sm-9">
                            <h3>{{ sandvitx.nom }}</h3>
                            <p>{{ sandvitx.descripcio }}</p>
                        </div>
                        <div id="productebutton" class="col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-4">
                            <a href="#" style="text-decoration:none;">
                                <span id="preu">{{ sandvitx.preu }} €</span>
                                <span id="carro" style="display: none">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% for entrant in entrants %}
                    <div class="Portfolio-box entrants">
                        <a href="#{{ entrant.nom }}"><img src="{{ entrant.imatge.url }}" height="200px" alt=""></a>
                        <div class="col-sm-9">
                            <h3>{{ entrant.nom }}</h3>
                            <p>{{ entrant.descripcio }}</p>
                        </div>
                        <div id="productebutton" class="col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-4">
                            <a href="#" style="text-decoration:none;">
                                <span id="preu">{{ entrant.preu }} €</span>
                                <span id="carro" style="display: none">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% for beguda in begudes %}
                    <div class="Portfolio-box begudes">
                        <div class="row">
                            <a href="#{{ beguda.nom }}"><img src="{{ beguda.imatge.url }}" height="200px" alt=""></a>
                        </div>
                        <div class="col-sm-9">
                            <h3>{{ beguda.nom }}</h3>
                            <p>{{ beguda.descripcio }}</p>
                        </div>
                        <div id="productebutton" class="col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-4">
                            <a href="#" style="text-decoration:none;">
                                <span id="preu">{{ beguda.preu }} €</span>
                                <span id="carro" style="display: none">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% for gnomut in gnomuts %}
                    <div class="Portfolio-box gnomuts">
                        <a href="#{{ gnomut.nom }}"><img src="{{ gnomut.imatge.url }}" height="200px" alt=""></a>
                        <div class="col-sm-9">
                            <h3>{{ gnomut.nom }}</h3>
                            <p>{{ gnomut.descripcio }}</p>
                        </div>
                        <div id="productebutton" class="col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-4">
                            <a href="#" style="text-decoration:none;">
                                <span id="preu">{{ gnomut.preu }} €</span>
                                <span id="carro" style="display: none">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    
    <!--GNOMUTS-->
        <section class="main-section" id="appweb">
            <div class="container">
                <h2>GNOMUTS</h2>
                <h6>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</h6>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                        <div class="service-list">
                            <div class="service-list-col1">
                                <i class="fa fa-paw"></i>
                            </div>
                            <div class="service-list-col2">
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                            </div>
                        </div>
                        <div class="service-list">
                            <div class="service-list-col1">
                                <i class="fa fa-gear"></i>
                            </div>
                            <div class="service-list-col2">
                                <h3>consectetur adipiscing elit</h3>
                                <p>Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .</p>
                            </div>
                        </div>
                        <div class="service-list">
                            <div class="service-list-col1">
                                <i class="fa fa-apple"></i>
                            </div>
                            <div class="service-list-col2">
                                <h3>Nunc lacinia</h3>
                                <p>Proin iaculis purus consequat digni sem digni ssim. Purus donec porttitora entum.</p>
                            </div>
                        </div>
                        <div class="service-list">
                            <div class="service-list-col1">
                                <i class="fa fa-medkit"></i>
                            </div>
                            <div class="service-list-col2">
                                <h3>ligula id blandit varius</h3>
                                <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p>
                            </div>
                        </div>
                    </div>
                    <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                        <img src="{% static 'img/macbook-pro.png' %}" alt="">
                    </figure>
                
                </div>
            </div>
        </section>

    <!--EQUIP-->
        <section class="main-section team" id="equip">
            <div class="container">
                <h2>Equip</h2>
                <h6>Prenguis un temps per veure el nostre equip.</h6>
                <div class="team-leader-block clearfix">
                    <div class="row">
                        <div class="team-leader  wow fadeInDown delay-06s col-sm-3">
                            <div class="team-leader-shadow"><a href="#"></a></div>
                            <img src="{% static 'img/team-leader-pic2.jpg' %}" alt="">
                            <ul>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-pinterest"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-sm-offset-1">
                            <br><br>
                            <h3 class="wow fadeInDown delay-06s">Arnau Molas</h3>
                            <span class="wow fadeInDown delay-06s">Product Manager</span>
                            <p class="wow fadeInDown delay-06s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!--CONTACTE-->
        <div class="container">
            <h2>Contacte</h2>
            <h6>Contacti amb nosaltres.</h6>
            <section class="main-section contact" id="contacte">
                    <div class="row">
                    <!--Informació-->
                        <div class="col-lg-6 col-sm-7 wow fadeInLeft">
                            <div class="contact-info-box address clearfix">
                                <h3><i class=" icon-map-marker"></i>Adreça:</h3>
                                <span>C/ Abadia 12<br>Vilabertran (Girona) - 17760</span>
                            </div>
                            <div class="contact-info-box phone clearfix">
                                <h3><i class="fa fa-phone"></i>Telèfon:</h3>
                                <span>658.545.045</span>
                            </div>
                            <div class="contact-info-box email clearfix">
                                <h3><i class="fa fa-pencil"></i>E-mail:</h3>
                                <span>a.molas.95@gmail.com</span>
                            </div>
                            <div class="contact-info-box hours clearfix">
                                <h3><i class="fa fa-clock-o"></i>Horari:</h3>
                                <span>
                                    <strong>Dilluns:</strong> 12:30 - 23:30<br>
                                    <strong>Dimarts:</strong> 12:30 - 23:30<br>
                                    <strong>Dimecres:</strong> 12:30 - 23:30<br>
                                    <strong>Dijous:</strong> 12:30 - 00:30<br>
                                    <strong>Divendres:</strong> 12:30 - 02:30<br>
                                    <strong>Dissabte:</strong> 12:30 - 02:30<br>
                                    <strong>Diumenge:</strong> 12:30 - 23:30<br>
                                </span>
                            </div>
                            <ul class="social-link">
                                <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="gplus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    <!--Formulari-->
                        <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                            <div class="form">
                                <form action="" method="post" role="form" class="contactForm">
                                    <div class="form-group">
                                        <input type="text" name="nom" class="form-control input-text" id="name" placeholder="Nom *" minlength="2" maxlength="50" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control input-text" id="email" placeholder="Correu electrònic *" maxlength="50" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="assumpte" class="form-control input-text" id="assumpte" placeholder="Assumpte *" maxlength="100" required/>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control input-text text-area" rows="5" placeholder="Missatge *" minlength="20" maxlength="400" required></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" name="privacitat" value="privacitat" required>
                                            He llegit i accepto la <a href="#modal">política de privacitat</a> *
                                        </label>
                                    </div>
                                    <div class="remodal" data-remodal-id="modal" style="border-radius: 4px;">
                                        <button data-remodal-action="close" class="remodal-close"></button>
                                        <p style="text-align:justify">
                                            En compliment del que estableix la Llei 34/2002, de Serveis de la Societat de la Informació i el Comerç Electrònic, en la Llei Orgànica 15/1999, de 13 de desembre, de Protecció de Dades de Caràcter Personal i els seus reglaments de desenvolupament, la nostra empresa l'informa que les dades de caràcter personal proporcionades a través dels formularis d'informació quedaran incorporades a un fitxer per al seu tractament automatitzat, amb la finalitat de prestar i oferir els nostres serveis, entenent-se per tant concedit el consentiment exprés per a la recepció de comunicacions comercials per via electrònica en els estrictes termes que es recullen en les presents condicions legals. Les dades recollides són emmagatzemades sota la confidencialitat i les mesures de seguretat legalment establertes i no seran cedides ni compartides amb empreses ni entitats alienes al responsable legal de la web.
                                        </p>
                                        <br>
                                    </div>
                                    <div class="text-center"><button type="submit" class="input-btn">Envia</button></div>
                                </form>
                            </div>	
                        </div>
                    </div>
            </section>
        </div>

    <!--MODALS PRODUCTE-->
        {% for producte in productes %}
        <div class="remodal" data-remodal-id="{{ producte.nom }}" style="border-radius: 4px;">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1> {{ producte.nom }}</h1>
            <img src="{{ producte.imatge.url }}" height="300px" alt="">
            <p style="text-align:justify">
                {{ producte.descripcio }}
            </p>
            <h4 class="pull-right">{{ producte.preu }} €</h4>
            <br>
        </div>
        {% endfor %}

    <!--COOKIES-->
        <section class="cookieElement">
            <p>Utilitzem cookies pròpies i de tercers per millorar els nostres serveis i mostrar publicitat relacionada amb les seves preferències mitjançant l'anàlisi dels seus hàbits de navegació. Si continua navegant, considerem que accepta el seu ús <a href="http://google.com">Llegir més</a></p>
            <button class="setCookieBtn">Accepto</button>
        </section>

    <!--FOOTER-->
        <footer class="footer">
            <div class="container">
                <div class="footer-logo"><a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a></div>
                <span class="copyright">&copy; Gnomuts. Tots els drets reservats</span>
                <div class="credits">
                    Web dissenyada per: <a href="#">Arnau Molas</a>
                </div>
            </div>
        </footer>

    <!--SCRIPTS-->
        <script type="text/javascript">
            $(document).ready(function(e) {
                $('#test').scrollToFixed();
                $('.res-nav_click').click(function(){
                    $('.main-nav').slideToggle();
                    return false    
                    
                });
                
            });
        </script>

        <script>
            wow = new WOW(
            {
                animateClass: 'animated',
                offset:       100
            }
            );
            wow.init();
        </script>

        <script type="text/javascript">
            $(window).load(function(){
                
                $('.main-nav li a, .servicelink').bind('click',function(event){
                    var $anchor = $(this);

                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top - 102
                    }, 1500,'easeInOutExpo');
                    /*
                    if you don't want to use the easing effects:
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1000);
                    */
            if ($(window).width() < 768 ) { 
                $('.main-nav').hide(); 
            }
                    event.preventDefault();
                });
            })
        </script>

        <script type="text/javascript">

        $(window).load(function(){
        
        
        var $container = $('.portfolioContainer'),
            $body = $('body'),
            colW = 375,
            columns = null;

        
        $container.isotope({
            // disable window resizing
            resizable: true,
            masonry: {
            columnWidth: colW
            }
        });
        
        $(window).smartresize(function(){
            // check if columns has changed
            var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
            if ( currentColumns !== columns ) {
            // set new column count
            columns = currentColumns;
            // apply width to container manually, then trigger relayout
            $container.width( columns * colW )
                .isotope('reLayout');
            }
            
        }).smartresize(); // trigger resize to set container width
        $('.portfolioFilter a').click(function(){
                $('.portfolioFilter .current').removeClass('current');
                $(this).addClass('current');
        
                var selector = $(this).attr('data-filter');
                $container.isotope({
                    
                    filter: selector,
                });
                return false;
            });
        
        });

        </script>

        <script type="text/javascript">
            const cookieCheck = (cookieName = 'defaultName', daysUntilExpire = 365) => {
                const cookieElement = document.querySelector('.cookieElement');
                const acceptBtn = document.querySelector('.setCookieBtn');

                let showCookieMessage = true;

                const cookies = document.cookie.split(';').map((cookie) => {
                    if(cookie.replace(/ /g, '') == `${cookieName}=true`) {
                        showCookieMessage = false;
                    }
                });

                if(showCookieMessage) {
                    cookieElement.classList.add('is-visible');

                        acceptBtn.addEventListener('click', e => {
                            e.preventDefault();
                            setCookie();
                            cookieElement.classList.remove('is-visible');
                        });
                }

                function setCookie() {
                    let expireInDays = new Date();

                    expireInDays.setDate(expireInDays.getDate() + daysUntilExpire);

                    document.cookie = `${cookieName}=true; expires=${expireInDays} path=/`;
                }
            };

            cookieCheck('cookiePrivacitat', 2);
        </script>

</body>
</html>